body {
    background-color: #fafdff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-top: 40px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

/* Top Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8ebed;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.big-logo {
    width: 85px;
    height: 75px;
    margin: 5px;
    margin-left: 25px;
    border-radius: 5px;
}

.nav-links {
    padding: 10px;
    right: 60px;
    top: 60px;
    margin-right: 60px;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-links a {
    color: #242526;
    text-decoration: none;
    font-size: 19px;
    padding: 8px 0;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #afc5db;
}

.menu-label {
    display: block;
    cursor: pointer;
    font-size: 19px;
    color: #242526;
    z-index: 200;
}

.our-team-dropdown {
    display: none;
    flex-direction: column;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    z-index: 100;
    top: 100%; 
    left: 0;
    background-color: #e8ebed;
    min-width: 150px;
}

.our-team-dropdown a {
    color: #242526;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 0;
    transition: color 0.3s ease-in-out;
}

.dropdown-container {
    position: relative;
}

.dropdown-container:hover .our-team-dropdown {
    display: flex;
}

/* Bottom Banner */
.outro-banner {
    background-color: #e8ebed;
    color: #242526;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: static;
    bottom: 0;
    z-index: 2;
}

.outro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;  
    margin: 0 auto;
}

.left-side {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.right-side {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px; 
    margin-right: 0;
    text-align: right;
    flex: 1;
}

.outro-banner a {
    color: #242526;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.outro-content p {
    margin: 5px 0;
    font-size: 16px;
}

/* Intro Container */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px;
    margin-top: 5px;
    color: black;
    flex: 1;
    opacity: 0;
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
}

.intro-container h1 {
    font-size: 60px; 
    opacity: 0; 
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
    animation-delay: 0.2s;
    color: #e1eef7;
    -webkit-text-stroke: 0.6px black;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

/* About Us */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.about-text {
    flex: 1;
    max-width: 45%;
    opacity: 0; 
    transform: translateX(-50px);
    transition: all 0.8s ease-out;
}

.about-text.animate {
    opacity: 1;
    transform: translateX(0);
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.about-text p {
    font-size: 18px;
    margin: 30px 35px;
}

.about-image {
    flex: 1;
    max-width: 55%;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Intro Teams */
.intro-all-teams {
    background-color: #e8ebed;
}

.intro-all-teams h4 {
    padding-top: 55px;
    font-size: 19px;
}

.team-hierachy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-content: stretch;
    max-width: 80%;
    margin: 0 auto;
}

.intro-team {
    flex: 1 1 250px; 
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 75%; 
    background-color: #fafdff;
    padding: 20px;
}

/* Intro Next */
.intro-next {
    background-color: #fafdff;
    padding: 5px;
}

/* Leadership */
.leadership {
    text-align: left;
    padding: 0 60px;
    flex: 1;
}

.leadership-title {
    text-align: center;
    padding-top: 80px;
}

.leadership img {
    width: 200px;
    height: 200px;
    padding-left: 50px;
}

.leadership-hierarchy {
    padding: 0 20px;
}

.people-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;  
    margin: 0 auto;
    padding-bottom: 20px;
}

.bio {
    text-align: left;
    width: 68%;
}

.leadership-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 2rem;
}

.sidebar-nav {
    width: 115px;
    position: sticky;
    top: 150px;
    border-right: 2px solid #ccc;
    padding-right: 10px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.sidebar-nav li a {
    text-decoration: none;
    display: block;
    padding: 10px 15px 10px 10px;
    color: #333;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}

.sidebar-nav li a:hover {
    color: #afc5db;
    border-left-color: #afc5db;
    background-color: #e8ebed;
    margin-right: 20px;
}

/* Members */
.members {
    text-align: left;
    padding: 50px 20px;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.members h1 {
    text-align: center;
    padding-bottom: 30px;
}

.members img {
    width: 200px;
    height: 200px;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.member-hierarchy {
    padding: 0 20px;
}

.member-details {
    flex: 1 1 250px; 
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-bio {
    text-align: left;
}

.member-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 1rem;
}

.member-sidebar-nav {
    width: 145px;
    position: sticky;
    top: 140px;
    border-right: 2px solid #ccc;
    padding-right: 1px;
    margin-right: 1px;
    font-size: 15px;
}

.member-sidebar-nav ul {
    list-style: none;
    padding: 10px 8px;
    margin: 0;
    text-align: left;
}

.member-sidebar-nav li a {
    text-decoration: none;
    display: block;
    padding: 10px 15px 10px 10px;
    color: #333;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}

.member-sidebar-nav li a:hover {
    color: #afc5db;
    border-left-color: #afc5db;
    background-color: #e8ebed;
    margin-right: 20px;
}

/* Contact Us */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 15px;
    padding: 30px;
    margin-top: 15px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 700px;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 25px;
    padding-left: 10px;
}

.contact-form textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 70%;
    padding: 5px;
    font-size: 14px;
}

.contact-form button {
    padding: 10px 18px;
    background-color: #e8ebed;
    color: #242526;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: none; 
    font-size: 15px;
}

.contact-form button:hover {
    background-color: #afc5db;
}

.direct-contact {
    flex: 2;
    max-width: 100px;
    font-size: 23px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.direct-contact a {
    text-decoration: none;
}


/* Mobile Phones */
@media (max-width: 768px) {

    .big-logo {
        width: 65px;
        height: 55px;
    }

    .banner {
        height: 70px;
    }

    .nav-links {
        gap: 8px;
        margin-right: 7px;
    }

    .nav-links a,
    .menu-label {
        font-size: 15px;
    }

    .dropdown-container.active .our-team-dropdown {
        display: flex;
    }

    .dropdown-container:hover .our-team-dropdown {
        display: flex;
    }

    .intro-container {
        padding: 60px 20px;
        text-align: center;
    }

    .intro-container h1 {
        font-size: 36px;
    }

    .about-us {
        flex-direction: column;
        padding: 1.5rem;
    }

    .about-text,
    .about-image {
        max-width: 100%;
    }

    .about-text h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .about-text p {
        margin: 20px 10px;
        font-size: 16px;
    }

    .intro-all-teams h4 {
        padding: 0 20px;
        padding-top: 40px;
    }

    .team-hierachy {
        display: column;
        justify-content: center;
        margin: 0px;
        padding-bottom: 35px;
    }

    .intro-team {
        width: 100%;
    }

    .outro-content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .leadership-container,
    .member-container {
        flex-direction: column;
        padding: 1rem;
    }

    .sidebar-nav,
    .member-sidebar-nav {
        display: none;
    }

    .leadership img,
    .members img {
        width: 150px;
        height: 150px;
        padding-left: 0;
    }

    .team {
        grid-template-columns: 1fr;
         max-width: 90%;
        padding: 10px;
    }

    .contact-container {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 100%;
    }
}
