<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/biglogo.png') }}" class="big-logo" alt="Logo">
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <div class="dropdown-container">
                <div class="menu-label">Our Team</div>
                <div class="our-team-dropdown">
                    <a href="{{ url_for('leadership') }}">Leadership Team</a>
                    <a href="{{ url_for('members') }}">Members</a>
                    <a href="{{ url_for('alumni') }}">Alumni</a>
                </div>
            </div>
            <a href="{{ url_for('strategies') }}">Strategies</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('joinus') }}">Join Us</a>
        </nav>
    </div>

    <div class="contact-container">
        <h1>Contact Us</h1>
        
        <form class="contact-form" method="POST">
            <textarea name="full_name" rows="2" required placeholder="First and Last Name"></textarea>
            <textarea name="role" rows="2" required placeholder="Role"></textarea>
            <textarea name="email" rows="2" required placeholder="Email"></textarea>
            <textarea name="phone_number" rows="2" required placeholder="Phone Number"></textarea>
            <textarea name="subject" rows="2" required placeholder="Subject"></textarea>
            <textarea name="message" rows="6" required placeholder="Write message here"></textarea>
            <button type="submit">Send</button>
        </form>

        <div class="direct-contact">
            <p>Email us at: someone@email.com</p>
            <a href="https://www.instagram.com/icbs.sif/" target="_blank">Our Instagram</a>
            <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank">Our LinkedIn</a>
        </div>
    </div>

    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <p>2025 Student Investment Fund</p>
            </div>
            <div class="right-side">
                <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram">
                <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin">
            </div>
        </div>
    </div>
</body>