<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sif_logos/sif_favicon.png') }}">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sif_logos/sif.png') }}" class="big-logo" alt="Logo">
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <div class="dropdown-container">
                <div class="menu-label">Team</div>
                <div class="our-team-dropdown">
                    <a href="{{ url_for('leadership') }}">Leadership</a>
                    <a href="{{ url_for('members') }}">Members</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('joinus') }}">Join Us</a>
        </nav>
    </div>

    <div class="intro-container">
        <h1>Student Investment Fund</h1>
    </div>

    <div class="about-us">
        <div class="about-text">
            <h2>About Us</h2>
            <p>The <b>Imperial Business School Student Investment Fund</b> was established in <b>2018</b> to give students the opportunity to <b>gain real-world experience</b> in <b>buy-side investments</b>, equipping them with the <b>essential practical skills</b> needed to <b>secure a role in this sector</b>.</p>
            <p>Run by an <b>executive committee</b> of <b>current students</b>, supported by <b>both faculty</b> and <b>alumni</b> of <b>Imperial Business School</b>, the Fund <b>manages £100,000 of assets</b>.</p>
        </div>
        <div class="about-image">
            <img src="{{ url_for('static', filename='images/imperial_image.jpg') }}" alt="Imperial Image">
        </div>
    </div>

    <div class="intro-all-teams">
        <h4>The Fund is structured into several specialised teams, each contributing to its overall success</h4>
        <div class="team-hierachy">
            <div class="intro-team">
                <h3>Portfolio Management Team</h3>
                <p>Allocates capital across the Fund’s strategies to optimise risk-adjusted returns.</p>
            </div>
            <div class="intro-team">
                <h3>Quantative Team</h3>
                <p>Develops data-driven trading models using statistical and algorithmic techniques.</p>
            </div>
            <div class="intro-team">
                <h3>Fundemental Team</h3>
                <p>Analyses company fundamentals and macroeconomic trends to identify investment opportunities.</p>
            </div>
            <div class="intro-team">
                <h3>ESG Team</h3>
                <p>Focuses on ESG factors and sustainability-driven strategies.</p>
            </div>
            <div class="intro-team">
                <h3>Infrastructure Team</h3>
                <p>Maintains the Fund’s tech stack, software, and data systems critical for analysis and execution.</p>
            </div>
            <div class="intro-team">
                <h3>Marketing Team</h3>
                <p>Manages internal and external communications, events, and brand visibility.</p>
            </div>
        </div>

    <div class="intro-next">
        <p> </p>
    </div>

    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
               <a href="https://www.imperial.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='images/imperial_logo.png') }}" width="175" height="21.5" alt="Imperial Website"></a>
            </div>
            <div class="right-side">
                <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin"></a>
            </div>
        </div>
    </div>
</body>