<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sif_logos/sif_favicon.png') }}">
    <title>Join Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="page-wrapper">
        <div class="banner">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/sif_logos/sif.png') }}" class="big-logo" alt="Logo">
            </a>
            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <div class="dropdown-container">
                    <div class="menu-label">Team</div>
                    <div class="our-team-dropdown">
                        <a href="{{ url_for('leadership') }}">Leadership</a>
                        <a href="{{ url_for('members') }}">Members</a>
                    </div>
                </div>
                <a href="{{ url_for('contact') }}">Contact Us</a>
                <a href="{{ url_for('joinus') }}">Join Us</a>
            </nav>
        </div>

        <main> 
            <div class= "join-us"> 
                <h1>Join Us</h1>
                <img src="{{ url_for('static', filename='images/group.png') }}" alt="Group Photo">
                <p class="note">Applications for the 2025-2026 academic year will open later this year</p>
            </div>
        </main>

        <div class="outro-banner">
            <div class="outro-content">
                <div class="left-side">
                   <a href="https://www.imperial.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='images/imperial_logo.png') }}" width="175" height="21.5" alt="Imperial Website"></a>
                </div>
                <div class="right-side">
                    <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram"></a>
                    <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>