<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sif_logos/sif_favicon.png') }}">
    <title>Leadership Tean</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sif_logos/sif.png') }}" class="big-logo" alt="Logo">
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <div class="dropdown-container">
                <div class="menu-label">Team</div>
                <div class="our-team-dropdown">
                    <a href="{{ url_for('leadership') }}">Leadership</a>
                    <a href="{{ url_for('members') }}">Members</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('joinus') }}">Join Us</a>
        </nav>
    </div>

    <h1 class="leadership-title">Our Leadership Team</h1>

    <div class="leadership-container">
      <div class="sidebar-nav">
        <ul>
          {% for section, teams in grouped.items() %}
            <li><a href="#{{ section }}">{{ section.replace('_', ' ').title() }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="leadership">
        {% for section, teams in grouped.items() %}
          <div class="leadership-hierarchy" id="{{ section }}">
            <h2>{{ section.replace('_', ' ').title() }}</h2>

            {% for team_name, members in teams.items() %}
              {% for member in members %}
                <div class="people-details">
                  <img src="{{ url_for('static', filename='images/profile_pics/' ~ member.fn ~ '.png') }}" class="headshot" alt="{{ member.fn }} {{ member.ln }}">
                  <div class="bio">
                    <h3>{{ member.fn }} {{ member.ln }}</h3>
                    {% if section == 'investment committee' %}
                      <h4>{{ member.subteam }} Department Director</h4>
                    {% endif %}
                    <a href="{{ url_for('bio', user_id=member['id'], type='leadership') }}" class="bio-link">> View Bio</a>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>



    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <a href="https://www.imperial.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='images/imperial_logo.png') }}" width="175" height="21.5" alt="Imperial Website"></a>
            </div>
            <div class="right-side">
                <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin"></a>
            </div>
        </div>
    </div>
</body>