<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sif_logos/sif_favicon.png') }}">
    <title>Members</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sif_logos/sif.png') }}" class="big-logo" alt="Logo">
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <div class="dropdown-container">
                <div class="menu-label">Team</div>
                <div class="our-team-dropdown">
                    <a href="{{ url_for('leadership') }}">Leadership</a>
                    <a href="{{ url_for('members') }}">Members</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('joinus') }}">Join Us</a>
        </nav>
    </div>

    <div class="member-container">
        <div class="member-sidebar-nav">
            <ul>
                <li><a href="#portfolio">Portfolio Teams</a></li>
                <ul>
                    <li><a href="#portfolio-alpha">Alpha Team</a></li>
                    <li><a href="#portfolio-beta">Beta Team</a></li>
                </ul>
                <li><a href="#quantitative">Quantitative Teams</a></li>
                <li><a href="#fundamental">Fundamental Teams</a></li>
                <li><a href="#esg">ESG Teams</a></li>
                <li><a href="#infrastructure">Infrastructure Teams</a></li>
                <li><a href="#marketing">Marketing Teams</a></li>
            </ul>
        </div>

        <div class="members">
            <h1 class="member-title">Our Members</h1>
            <div class="member-hierarchy" id="portfolio">
                <h2>Porftolio Teams</h2>

                <div class="team" id="portfolio-alpha">

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>

                </div>

                <div class="team" id="portfolio-beta">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>

                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name</h3>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-hierarchy" id="quantitative">
                <h2>Quantative Teams</h2>
                <div class="team">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-hierarchy" id="fundamental">
                <h2>Fundamental Teams</h2>
                <div class="team">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-hierarchy" id="esg">
                <h2>ESG Teams</h2>
                <div class="team">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-hierarchy" id="infrastructure">
                <h2>Infrastructure Teams</h2>
                <div class="team">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-hierarchy" id="marketing">
                <h2>Marketing Teams</h2>
                <div class="team">
                    <div class="member-details">
                        <img src="{{ url_for('static', filename='images/blank_icon.png') }}" class="headshot">
                        <div class="member-bio">
                            <h3>Name - Team Leader</h3>
                            <h4>Team Name</h4>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <a href="https://www.imperial.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='images/imperial_logo.png') }}" width="175" height="21.5" alt="Imperial Website"></a>
            </div>
            <div class="right-side">
                <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin"></a>
            </div>
        </div>
    </div>
</body>