<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sif_logos/sif_favicon.png') }}">
    <title>Members</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sif_logos/sif.png') }}" class="big-logo" alt="Logo">
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <div class="dropdown-container">
                <div class="menu-label">Team</div>
                <div class="our-team-dropdown">
                    <a href="{{ url_for('leadership') }}">Leadership</a>
                    <a href="{{ url_for('members') }}">Members</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('joinus') }}">Join Us</a>
        </nav>
    </div>

    <div class="member-container">
        <div class="member-sidebar-nav">
          <ul>
            {% for section, teams in grouped.items() %}
              <li><a href="#{{ section }}">{{ section.replace('_', ' ').title() }} Teams</a></li>
              <ul>
                {% for team_name, members in teams.items() %}
                  {% set team_id = team_name.lower().replace(' ', '-') %}
                  <li><a href="#{{ team_id }}">{{ team_name }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>

        <div class="members">
          <h1 class="member-title">Our Members</h1>
          {% for section, teams in grouped.items() %}
            <div class="member-hierarchy" id="{{ section }}">
              <h2>{{ section.replace('_', ' ').title() }} Teams</h2>

              {% for team_name, members in teams.items() %}
                {% set team_id = team_name.lower().replace(' ', '-') %}
                <h3>{{ team_name }}</h3>
                <div class="team" id="{{ team_id }}">

                  {% for member in members %}
                    <div class="member-details">
                      <img src="{{ url_for('static', filename='images/profile_pics/' ~ member.fn ~ '.png') }}" class="headshot" alt="{{ member.fn }} {{ member.ln }}">
                      <div class="member-bio">
                        <h3>
                          {{ member.fn }} {{ member.ln }}
                          {% if member.leader== "Yes" %} - Team Leader{% endif %}
                        </h3>
                        <a href="{{ url_for('bio', user_id=member['id'], type='member') }}" class="bio-link">> View Bio</a>
                      </div>
                    </div>
                  {% endfor %}

                </div>
              {% endfor %}

            </div>
          {% endfor %}
        </div>


    </div>

    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <a href="https://www.imperial.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='images/imperial_logo.png') }}" width="175" height="21.5" alt="Imperial Website"></a>
            </div>
            <div class="right-side">
                <a href="https://www.instagram.com/icbs.sif/" target="_blank"><img src="{{ url_for('static', filename='images/insta_logo.png') }}" width="30" height="30" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/imperial-college-business-school-student-investment-fund/?originalSubdomain=uk" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}" width="30" height="30" alt="Linkedin"></a>
            </div>
        </div>
    </div>
</body>